body, html{
  height:100%;
  font-family: 'Bubblegum Sans', cursive;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  overflow: hidden;
}
body, a:link, a:visited, a:active{
  color: lightblue;
  text-decoration: none;
}

a:hover {
  font-size: 1.2em;
  color: white;
}

video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(assets/background.png) no-repeat;
background-size: cover;
}

.title, .addDancerButton, .lineupButton{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: rgba(150,150,150,.5);
}
.title{
  background-color: rgba(150,150,150,.5);
}
.dancer{
  position:absolute;
}

.dancer img {
  width: 175px;
  height: auto;
}

@-webkit-keyframes pulse_animation {
  0% { -webkit-transform: scale(1); }
  30% { -webkit-transform: scale(1); }
  40% { -webkit-transform: scale(1.6); }
  50% { -webkit-transform: scale(1); }
  60% { -webkit-transform: scale(1); }
  70% { -webkit-transform: scale(1.4); }
  80% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); }
}

.blinky img {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 500ms;
  -webkit-transform-origin:70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

  .pikachu img {


  }

  .snorlax img {

  }

.pop {
}

  .kanye img {

  }

  .bieber img {

  }


.superhero {
}

  .batman img {

  }

  .ironman img {

  }
